body {
	background-color: #EBE1E9;
}

#photo {
	width: 800px;
	height: 500px;
	margin: auto;
	border: 3px solid #73AD21;
}

#photo img 	{
	width: 800px;
	height: 500px;
}

#img_button {
	text-align: center;
	margin-top: 15px;
}

button {
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-radius: 5px;
	background-color: #99CFDE;
}

#list_button {
	float: right;
}

#recipe_id {
	margin: auto;
	height: 50px;
	width: 1000px;
	text-align: center;
	background-color: #C3D4C6;
	border-radius: 20px;
}

section {
	margin: auto;
	width: 450px;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#recipe_id h1 {
	height: 50px;
	padding-top: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.ingredients {
	width: 400px;
	margin: auto;
	margin-top: 25px;
	text-align: left;
	border-radius: 10px;
	border: 5px solid #1BA6CC;
	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
	text-align: center;
	margin: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
	background-color: black;
	border-radius: 12px;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
	color: red;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.list {
	margin: 10px;	
}

.ingredients_list {
	margin: 10px;
}

.instructions {
	width: 800px;
	margin: auto;
	margin-top: 25px;
	text-align: left;
	border-radius: 20px;
	border: 5px solid #1BA6CC;
	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.step_by_step_instructions {
	margin: 15px;
}

#recipe_id:hover {
    -ms-transform: scale(1, 1.5); /* IE 9 */
    -webkit-transform: scale(1, 1.5); /* Safari */
    transform: scale(1, 1.5);
    transition-delay: 0.5s;
}

.ingredients:hover {
	background: #A1B1B5;
}

.instructions:hover {
	background: #A1B1B5;
}

.addClass {
	color: red;
}



